body { width: 98%;
        padding-top: 10px;
       }
#menu-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #db3dff;
    opacity: 0.9;
    z-index: 2; 
    cursor: pointer;
   
    
}
#overlay-banner {
    width: 80%;
    margin: 0 auto;
    height: 3em;
    margin-top: 100px;
}
#overlay-close {
    height: auto;
    width: 2em;
    float: right;
}
#menu-container {
    width: 30%;
    
    margin-left: auto;
    margin-right: auto;
    height: 40em;
    
}
#menu-container-menu {
    
    margin: 0 auto;
    min-width: 560px;
    height: 50%;
}
#menu-list {
    padding-left: 0;
    width: 40%;
    margin: 0 auto;
    
}
.menu-items {
    list-style: none;
    font-family: Arial;
    font-size: 48px;
    text-align: center;
    color: white;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.menu-items2 {
    list-style: none;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 10px;
    margin-left: 0;
    margin-right: 0;
}
.menu-items:hover {
    color: black;
}
.menu-items2:hover {
    color: black;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    
    }
#main-div {
            width: 100%;
            background-image: url(home-background.png);
            background-repeat: no-repeat;
            background-size: cover;
            
            height: 58em;
            
            }
#main-footer {
            height: 10em;
            }
#main-footer-image {
            height: inherit;
            width: 100%;
                    }
#main-banner {width: 80%;
            margin: auto;
            height: 4em;
            }
#main-banner-logo {
                float: left;
                height:100%;
                }
#nav {
    height: 25px;
    width: 100%;
    
    }
#main-nav { 
            padding-top: 20px;
            float: right;
            list-style: none;
            display: inline-block;
            height: 25px;
            width: 40%;
        }
#menu-overlay-icon {
    height: auto;
    width: 2.5em;
    display: inline-block;
    
    
}
#menu-overlay-icon:hover {
    background-color:white;
}
#overlay-icon-container {
    padding-top: 10px;
}
.main-nav-links {display: inline;
    font-family: Gotham-Book, Arial;
    font-size: 18px;
    height: 2em;
    text-align: center;}

.nav-hover:hover {
                border-bottom: 2px solid black;
                }
.nav-links {
            color: black;
            text-decoration: none;
            }
.nav-links:hover {
    border-bottom: 2px solid black;
}
#main-div-search {
                height: 38em;
                width: 70%;
                margin: 0 auto; 
                }
#main-div-search-fields {
            height: 4em;
            max-height: 4em;
            }

#main-div-focus-links {
                width: 100%;
                height: auto;
                }
h1 {
    font-family: Arial;
    font-weight: normal;
    font-size: 48px; 
    }
h2 {
    font-family: Arial;
    font-weight: normal;
    font-weight: normal;
    font-size: 36px;
    }
a {
    text-decoration: none;
}
#input-field1 {
    width: 20em;
            }
#input-field2 {
    width: 10em;
    background: url(black-triangle.png);
    background-size: 40px,40px;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: white;
}
#input-field3 {
    width: 10em;
    background: url(black-triangle.png);
    background-size: 40px,40px;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: white;
}
#input-field4 {
    width: 10em;
    background: url(black-triangle.png);
    background-size: 40px,40px;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: white;
}
.input-fields {
            
            border: none;
            height: 3em;
            padding-left: 5px;
            color: black;
            font-family: Arial;
            font-size: 18px;
            }
#submit-button {
            
            border: 2px solid black;
            height: 4em;
            width: 6em;
            bottom: 0;
            
            }
#submit-button:focus {
            
            border: none;
            }
.focus-link-headings {
        font-family: Arial;
        font-size: 18px;
        font-weight: normal;
    }
#focus-links-sub1-category1 {
        text-decoration: none;
        width: 35%;
        float: left;
        list-style: none;
        color: white;
        }
#focus-links-sub1-category2 {
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;    
        width: 35%;
        float: right;
        list-style: none;
        color: white;
        }
#focus-links-sub2-category1 {
        list-style: none;
        width: 20%;
        float: left;
        }
#focus-links-sub2-category2 {
        list-style: none;
        width: 20%;
        float: right;
        }
#focus-links-sub2-category3 {
        list-style: none;
        width: 30%;
        padding-left: 195px;
        padding-top: 17px;
        
        z-index: 2;
        
        }
.sub-links {
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        width: auto;
        color: white;
        }
.link-hover {color: white;
            text-decoration: none;}
.sub-links:hover {
        border-bottom: 2px solid white;
        }
.category2-links {
        padding-top: 5px;
        padding-bottom: 5px;
        }
#main-div-focus-subsection1 {
        width: 40%;
        float: left;
    }
#main-div-focus-subsection2 {
        width: 40%;
        float: right;
        height: 15em;
    }
 {color:white;
    text-decoration: none;}
#main-div-featured-jobs {
    height: 115em;
    
}
#featured-jobs-list {
    width: 70%;
    margin: 0 auto;
    
}
#featured-jobs-heading {
    font-family: Arial;
    font-size: 28px;
    font-weight: normal;
    width: 7em;
    border-bottom: 2px solid purple;
}
#featured-jobs-first-group {
        height: 30em;
        width: 70%;
        margin: 0 auto;
        }
#featured-jobs-second-group {
        height: 30em;
        width: 70%;
        margin: 0 auto;
        }
#featured-jobs-third-group {
        height: 30em;
        width: 70%;
        margin: 0 auto;
        }
#first-job {
    width: 27%;
    height: 100%;
    position: relative;
    top: -22px;
    float: left;
    z-index: 1;
}
#second-job {
    width: 27%;
    height: 100%;
    z-index: 1.5;
    padding-left: 375px;
}
#third-job {
    width: 27%;
    height: 100%;
    z-index: 1.75;
    position: relative;
    top: -500px;
    left: 750px;
   
}
.job-headings {
    font-family: Arial;
    font-size: 24px;
    }
.job-salary {
    font-family: Arial;
    font-size: 20px;
    }
.job-descrip {
    font-family: Arial;
    font-size: 18px;
    }
#featured-jobs-footer-image {
    width: 70%;
    margin: 0 auto;
}
#skyline-image {
    width: 100%;
}
#skyline-edges {
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    

    
}
#main-partners-div {
    width: 100%;
    background-color: #F5F5F5;
    height: 40em;
}
#partners-section {
    width: 70%;
    margin: 0 auto;
    
    height: 35em;
}
#partners-section-left {
    width: 40%;
    height: 30em;
    float: left;
    
}
#partners-section-right {
    width: 55%;
    height: 30em;
    float: right;
    
}
.partners-headings {
    font-family: Arial;
    font-size: 22px;
}
.partners-subtext {
    font-family: Arial;
    font-size: 14px;
}
.partners-links {
    font-family: Arial;
    font-size: 16px;
    color: purple;
}
.partners-subheadings {
    font-family: Arial;
    font-size: 18px;
}
#partners-table {
    width: 100%;
    height: 100%;
}
td {
    width: 30%;
    height: 30%;
    max-height: 30%;
    max-width: 30%;
    
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}
.company-logo-grid {
    height: 100%;
    width: 100%;
    
}
.company-logo-image {
    width: 100%;
    display: block;
}
#partners-section-footer-image {
    width: 100%;
    height: 250px;
}
#page-footer {
    background-image: url(site-footer.png);
    height: 12em;
    width: 100%;
    vertical-align: middle;
}
#footer-content-area {
    width: 80%;
    margin: 0 auto;
    height: 2.5em;
    position: relative;
    vertical-align: middle;
}
#footer-icon-area {
    width: 80%;
    margin: 0 auto;
    height: 2.5em;
    position: relative;
}
.footer-text {
    color: white;
    font-family: Arial;
    width: 20%;
    margin: auto;
    float: left;
}
.footer-icons {
    height:auto;
    width: 2em;
}
#links-list {
    float: right;
    list-style: none;
    margin-top: 0;
    width: 40%;
    z-index: 2;
}
.footer-links-text {
    display: inline;
    color: white;
    font-family: Arial;
    font-size: 16px;
}
.footer-links-text:hover {
    border-bottom: 2px solid white;
}

